.App {
    padding: 1rem;
}

.product-list .label {
    margin-left: 6px;
}

table {
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    overflow: hidden;
    margin: 24px 0;
    text-align: left;
}

table th {
    overflow: hidden;
    padding: 12px 24px;
}

table td {
    color: #444;
    overflow: hidden;
    padding: 12px 24px;
    word-break: normal;
}

table > thead > tr {
    color: white;
    background-color: var(--color-primary-700);
    font-weight: 600;
}

table > tbody > tr {
    background-color: #f8fafc;
}

table > tbody > tr:nth-child(even) {
    background-color: #f1f5f9;
}